@model IEnumerable<Cresk.ViewModels.Company.IndexCompanyViewModel>

@{
    ViewData["Title"] = "Company list";
}

<h1>Company list</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="fa-add fa-solid"></i>
        Create New
    </a>
</p>

<form asp-controller="TicketCategory" asp-action="Index" method="get">
    <p>
        Search by name: <input type="text" name="SearchString" class="form-control" />
        <input type="submit" class="btn btn-secondary" value="Search" />
        <a asp-action="Index" class="btn btn-secondary">Back to Full List</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="fa-solid fa-circle-info"></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="fa-solid fa-trash text-danger"></a>
            </td>
        </tr>
}
    </tbody>
</table>
