@{
    ViewData["Title"] = "Welcome";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/welcomePage.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<div class="all-page">
    <div class="text-center">
        <h1 class="display-4">Hi, we are CROSSNET</h1>
    </div>
    <div class="middle-page">
        <img src="~/img/support.png" />
    </div>
</div>