@{
    ViewData["Title"] = "Welcome";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/welcomePage.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<div class="all-page">
    <div class="text-center">
        <h1 class="display-4">Hi, we are CROSSNET</h1>
        <div class="content-welcome-page">
		    <img src="~/img/sebus.png" width="65%" height="65%"/>
            <div class="linked-lists">
                <div class="question-thopic">
                    <h3>Frequently Asked Questions</h3>
                </div>
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                What is Crossnet?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <strong>Crossnet</strong>, is an IT company. We cooperate with companies such as Medicover and Our Doctor. Our server is huge and has long support. Sometimes we do support work, such as setting up a new computer, installing cameras. We manage the domain mics.medicover.pl. What does it mean? We can create new email addresses, create an alias and much more.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                How priority works?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                We use priority to better manage the ticketing system. For reporting, the user must select one of several priorities: low, medium, high. <strong>Low priority</strong> indicates a problem that does not interfere with work and can wait up to several days. <strong>Medium priority</strong> means an interfering problem that needs to be resolved quickly. A <strong>high priority</strong> indicates a serious issue affecting part or all of your business and should be resolved as soon as possible.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Can we send ticket about cooperation?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                Of course, if you have any proposal or want to start cooperation or business with us. We are waiting for your application and invite you to contact us at: <strong>administration@cresk.pl</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>