@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <h1>Website Privacy Policy</h1>

    <h2>PRIVACY NOTICE</h2>
    <p>Last updated 24.01.2023</p>

 

    <p>
        This privacy notice for Crossnet<br />
        We, describes how and why we might collect, store, use,
        and process your information when you use our services, such as when you:<br />
        <ul>
            <li>
                Visit our website at [Website URL]
            </li>
            <li>
                Download and use our application, such as our mobile application — CRESK
            </li>
            <li>
            Engage with us in other related ways ― including any sales, marketing, or events
            </li>
        </ul>
        Questions or concerns?<br />
        Reading this privacy notice will help you understand your privacy rights and choices. 
        If you do not agree with our policies and practices, please do not use our Services.
        If you still have any questions or concerns, please contact us at Administration@Cresk.pl.
    </p>
</body>