<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cresk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sidebarNavbar.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <div class="top_navbar">
            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <img src="~/img/name_1.png"/>
            </div>
            <ul class="user-area">
                <li><a href=""><i class="fas fa-user"></i></a></li>
            </ul>
        </div>
        <div class="page-area">
            <div class="sidebar">
                <ul class="navigation-list">
                    <li>
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-hand" aria-hidden="true"></i>
                            <span class="navigation-link-text">
                                Home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="navigation-link"  asp-area="" asp-controller="DbTicket" asp-action="Index">
                            <i class="fa-solid fa-ticket" aria-hidden="true"></i>
                            <span class="navigation-link-text">
                                Tickets
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="navigation-link" asp-area="" asp-controller="DbTag" asp-action="Index">
                            <i class="fa-solid fa-tag" aria-hidden="true"></i>
                            <span class="navigation-link-text">
                                Tags
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                            <i class="fa-solid fa-lock" aria-hidden="true"></i>
                            <span class="navigation-link-text">
                                Privacy
                            </span>
                        </a>
                    </li>          
                </ul>
            </div>
            <div class="main-content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
@*        </div>
        <footer>
            &copy; 2022 - Cresk - <a asp asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </footer>*@
    </div>
     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
    $(document).ready(function() {
        $(".hamburger").click(function() {
            $(".sidebar").toggleClass("minimalize");
            if ($(".sidebar").hasClass("minimalize")) {
                localStorage.setItem("sidebarHidden", true)
            }
            else {
                localStorage.setItem("sidebarHidden", false)
            }
            const links = document.querySelectorAll('.navigation-link-text');
                links.forEach(link => {
                link.classList.toggle('hide');
            });
        });
    });
    const sidebarHidden = localStorage.getItem("sidebarHidden");
    if (sidebarHidden === "true") {
        $(".sidebar").toggleClass("minimalize");
        const links = document.querySelectorAll('.navigation-link-text');
            links.forEach(link => {
            link.classList.toggle('hide');
        });
    }
    </script>
</body>
</html>
