<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cresk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sidebarNavbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cresk.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div id="page-container">
        <input type="checkbox" id="check" />
        <label for="check">
            <i class="fa fa-bars" id="okButton"></i>
            <i class="fa fa-times" id="cancelButton"></i>
        </label>
        <div id="sidebar">
            <header>
      	        <img src="~/img/name_1.png" />
            </header>
            <ul class="nav">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-hand">Welcome</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-ticket">Ticket</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-tag">Tag</i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-lock">Privacy</i>
                    </a>
                </li>
            </ul>
        </div>

        <div id="content">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
@*                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cresk</a>*@
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DbTicket" asp-action="Index">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DbTag" asp-action="Index">Tags</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>  
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Cresk - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
