<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cresk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sidebarNavbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cresk.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="main-container">
        <div class="top_navbar">
            <div class="hamburger">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <img src="~/img/name_1.png"/>
            </div>
            <ul class="user-area">
                <li><a href=""><i class="fas fa-user"></i></a></li>
            </ul>
        </div>
        <div class="page-area">
            <div class="sidebar">
                <ul class="navigation-list">
                    <li>
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-hand" aria-hidden="true"></i>
                            <span>
                                Home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="fa-solid fa-ticket" aria-hidden="true" asp-area="" asp-controller="DbTicket" asp-action="Index">Tickets</a>
                    </li>
                    <li>
                        <a class="fa-solid fa-tag" aria-hidden="true" asp-area="" asp-controller="DbTag" asp-action="Index">Tags</a>
                    </li>
                    <li>

                        <a class="fa-solid fa-lock" aria-hidden="true" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        @*                <a class="fa-solid fa-lock" aria-hidden="true"></a>*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="main-content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
