body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

img{
    width:60%;
}


#page-container {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    padding-bottom:2.5rem;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    user-select:none;
}

#sidebar header a {
    color: #fff;
}

#sidebar ul a {
    display:block;
    height:100%;
    width:100%;
    line-height: 68px;
    font-size:20px;
    padding-left:42px;
    box-sizing:border-box;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    color:antiquewhite;
    transition:.5s;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
}