* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style:none;
    text-decoration:none;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
img {
    height:65px;
}

body {
    background-image: url('../img/spikes.png');
}

.wrapper {
    margin:10px;
}

.wrapper .top_navbar {
    width: 100%;
    display: flex;

}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 81px;
    background: #37474F;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
    width: 35px;
    height: 4px;
    background: #ffffff;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .navbar {
    width: calc(100% - 70px);
    background: #ffffff;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .navbar .logo {
    margin-left:10px;
}

.wrapper .top_navbar .navbar ul{
    display: flex;
    margin:0;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.wrapper .top_navbar .navbar ul li {
    margin: 0 10px;
}

.wrapper .top_navbar .navbar ul li a {
    font-size:24px;
    color: darkred;
}

.wrapper .sidebar {
    position: fixed;
    left: 10px;
    background: #37474F;
    width: 200px;
    height:calc(100% - 101px);
    border-bottom-left-radius:20px;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display:block;
    padding: 20px;
    color: #d3d3d3;
    position:relative;
    margin-bottom: 1px;
}



/*.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    color: #d3d3d3;
}*/

    .wrapper .container-fluid {
        width: calc(100% - 200px);
        margin-left: 200px;
        padding: 15px;
        transition: all 0.3s ease;
    }

/*#page-container {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    padding-bottom:2.5rem;
}

#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    user-select:none;
}

#sidebar header a {
    color: #fff;
}

#sidebar ul a {
    display:block;
    height:100%;
    width:100%;
    line-height: 68px;
    font-size:20px;
    padding-left:42px;
    box-sizing:border-box;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    color:antiquewhite;
    transition:.5s;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
}*/