* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/congruent_pentagon.jpg');
}

a {
    text-decoration: none;
}

.all-page img{
    margin-top:-30px;
}

.all-page .content-welcome-page{
    display:flex;
    flex-direction:row;
}
.all-page .content-welcome-page .linked-lists{
    margin-top:30px;
}

h1 {
    margin: 0px;
    margin-top: 20px;
    font-family: serif;
    font-size: 70px;
    font-weight: 600;
    background-image: radial-gradient(ellipse, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}